.admin {
    height: max-content;
    width: 100vw;
    background-color: #498fdd;
    text-align: center;
}

.admin_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin_img img {
    width: 50vw;
}

.btn_check {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn_check button {
    padding: 7px 17px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn_check button:hover {
    background-color: black;
    transition: all 0.4s ease;
    color: white;
}

@media(max-width:768px) {
    .admin_wrapper {
        display: block;
    }
    .admin_img img {
        width: 80vw;
        height: 30vh
    }
}