.login_nav {
    width: 100vw;
    top: 0;
    margin-top: 0;
    position: absolute;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
    box-shadow: 0 19px 38px rgb(0 0 0 / 10%);
    align-items: center;
    /* background-color: white; */
    z-index: 10;
}

.loginNav_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25px 0 25px;
}

.logo_section {
    display: flex;
    align-items: center;
    justify-content: center
}

.logoNav_img>img {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    object-fit: cover
}

.logo_name {
    /* font-size: 18px; */
    font-weight: 600;
    color: white;
}

.loginNav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.about_nav {
    padding: 0px 20px;
}

.about_nav a {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.admin_btn_Login_nav a {
    font-size: 18px;
    padding: 7px 17px;
    border-radius: 4px
}

.admin_btn_Login_nav a:hover {
    background-color: #f9f9f9;
    color: #050c16;
    transition: all 250ms ease-in-out;
}

.about_nav {
    /* width: 150px; */
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {
    .loginNav_section {
        padding: 0 10px 0 10px;
    }
    .logoNav_img>img {
        width: 2rem;
        height: 2rem;
    }
}

@media(max-width:640px) {
    .about a,
    .admin_btn_nav a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 600;
    }
    .logo_name {
        font-size: 14px;
    }
    .admin_btn_nav a {
        padding: 5px 7px;
    }
}